.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    .btn-nav,
    .btn-page {
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    }

    .btn-nav {
    padding: 8px;
    }

    .btn-nav {
    width: 42px;
    height: 42px;
    border: 1.5px solid #2A59FE;
    color: #2A59FE;
    }

    .btn-nav:hover,
    .btn-page:hover {
    background-color: #2A59FE;
    color: #fff;
    }

    .btn-page {
    border: none;
    width: 36px;
    height: 36px;
    font-size: 16px;
    }

    .btn-selected {
    background-color: #2A59FE;
    color: #fff;
    }
}
