.cards-container{
    .cards-columns{
        float: left;
        width: 25%;
        height: 100%;
        .shopping-cards{
            display: flex;
            flex-direction: column;
            padding: 5px;
            margin: 5px;
            background: #fff;
            cursor: pointer;
            img{
                width: 95%;
                height: 150px;
                object-fit: cover;
                align-self: center;
            }
            span{
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%; 
                font-weight: 500;
            }
            .product-info{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: left;
                height: 50px;
                margin: 15px 5px;
                .prod-price{
                    color: #2a59fe;
                }
            }
            .checkout-btn{
                background: #2A59FE;
                color: #fff;
                border-radius: 4px;
                border: none;
                height: 32px;
                margin: 0 5px 5px 5px;
                cursor: pointer;
            }
        }
            
    }

    &::after{
    content: "";
    display: table;
    clear: both;
    }

    .pagination-end{
        display: inline-flex;
        margin: 30px 0;
    }
}