.header{
    display: flex;
    flex-direction: row;
    background: #2A59FE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #2A59FE;
    width: 100%;
    height: 50px;
    color: #ffffff;
}